[submodule "meta-elettra"]
	path = meta-elettra
	url = https://github.com/voltumna-linux/meta-elettra.git
	branch = voltumna-2.y
[submodule "meta-voltumna"]
	path = meta-voltumna
	url = https://github.com/voltumna-linux/meta-voltumna.git
	branch = voltumna-2.y
